<style>
    h3 {
        color: #000080;
    }
    h4 {
        color: #000080;
    }
    h5 {
        color: #000080;
    }
    h1 {
        color: #000080;
    }
    h2 {
        color: #000080;
    }
</style>